#name,#email,#phone,#regno { 
  pointer-events: none; 
} 

.container {   

background-color:#8a3147;  
color:white;
margin-top: 20px;
text-align: justify;

margin-left: auto;
text-decoration: #ccc;


}
input[type="text"]{
width: 250px;
background-color:white;

position: relative;

display: grid;
outline: none;
line-height: 1;
font-weight: 500;
font-size: 1.1rem;
border: 1px solid #ccc;
box-sizing: border-box;
display: inline-block;


}
input[type="date"]{
width: 250px;
background-color: white;
position: relative;

display: grid;
outline: none;
line-height: 1;
font-weight: 500;
font-size: 1.1rem;
border: 1px solid #ccc;
box-sizing: border-box;
display: inline-block;
}
input[type="email"]{
width: 250px;
background-color: white;
position: relative;

display: grid;
outline: none;
line-height: 1;
font-weight: 500;
font-size: 1.1rem;
border: 1px solid #ccc;
box-sizing: border-box;
display: inline-block;
}

input[type="url"]{
width: 250px;
background-color: white;
position: relative;

display: grid;
outline: none;
line-height: 1;
font-weight: 500;
font-size: 1.1rem;
border: 1px solid #ccc;
box-sizing: border-box;
display: inline-block;


}
label{
  width: 240px;
  display: inline-block;
  color: white;
  font-weight: 200px;
  font-size: large;
}




li{
list-style: none;
}
#same{
width: auto;
}
#dob{

display: inline-block;
}
button[type=button] {    
background-color: #8a3147;    
color: white;    
padding: 12px 20px;    
border: none;    
border-radius: 4px;    
cursor: pointer;    
float: left; 
margin-top: 10px; 

margin-right: 3px;
}    

button[type=button]:hover {    
background-color:#ac5168;    
} 
label b{
  color: white;
}
hr{
  border-color: white;
}